extends ./layout

block title
	title Бонусы
block content
	.container-fluid
		.row
			.col
				h2 Бонусы
				table.table
					thead
						tr
							th id
							th Название
							th Описание
							th {pen}
					tbody
						- var abolished = bonuses.filter((item)=>{return item.deleted});
						- var nonAbolished = bonuses.filter((item)=>{return !item.deleted});
						each bonus in nonAbolished
							tr
								td=bonus.bonusId
								td=bonus.name
								td=bonus.description
								td
									a(href='/bonus/'+bonus.bonusId)
										img(src='/img/pen.svg', height='20px')

						if abolished.length>0
							tr
								td(colspan=2) Упраздненные
							each bonus in abolished
								tr
									td=bonus.bonusId
									td=bonus.name
									td=bonus.description
									td
										a(href='/bonus/'+bonus.bonusId)
											img(src='/img/pen.svg', height='20px')
