extends ./layout

block title
	title Бонусы
block content
	.container-fluid
		.row
			.col-sm-4.mt-3
				h2 Бонусы
			.col-sm-8.mt-3
				form.form-inline(action='')
					input.form-control(type='text', name='search', value=search)
					span.input-group-btn
						button.btn.btn-primary(type='submit') Поиск
		.row
			.col
				table.table
					thead
						tr
							th id
							th Название
							th Описание
							th {pen}
					tbody
						- var deletedBonuses = bonuses.filter((item)=>{return item.deleted});
						- var nondeletedBonuses = bonuses.filter((item)=>{return !item.deleted});
						tr
							form.mb-0(action='/bonus/new', method='POST')
								td +
								td
									input.form-control(name='name' required)
								td
									input.form-control(name='description' required)
								td
									button.btn.btn-primary(type='submit') Добавить
						each bonus in nondeletedBonuses
							tr
								td=bonus.bonusId
								td=bonus.name
								td=bonus.description
								td
									a(href='/bonus/'+bonus.bonusId)
										img(src='/img/pen.svg', height='20px')

						if deletedBonuses.length>0
							tr
								td(colspan=4) 
									b Отключенные
							each bonus in deletedBonuses
								tr
									td=bonus.bonusId
									td=bonus.name
									td=bonus.description
									td
										a(href='/bonus/'+bonus.bonusId)
											img(src='/img/pen.svg', height='20px')
