extends ./layout

block title
	title Должности
block content
	.container-fluid
		.row
			.col-sm-4.mt-3
				h2 Должности
			.col-sm-8.mt-3
				form.form-inline(action='')
					input.form-control(type='text', name='search', value=search)
					span.input-group-btn
						button.btn.btn-primary(type='submit') Поиск
		.row
			.col
				table.table
					thead
						tr
							th id
							th Название
							th Отдел
							th {pen}
					tbody
						- var abolished = positions.filter((item)=>{return item.abolished});
						- var nonAbolished = positions.filter((item)=>{return !item.abolished});
						each position in nonAbolished
							tr
								td= position.positionId
								td= position.name
								td= position.department.name
								td
									a(href='/position/'+position.positionId)
										img(src='/img/pen.svg', height='20px')
						if abolished.length>0
							tr
								td(colspan=4)
									b Упраздненные
							each position in abolished
								tr
									td= position.positionId
									td= position.name
									td= position.department.name
									td
										a(href='/position/'+position.positionId)
											img(src='/img/pen.svg', height='20px')
