extends ./layout

block title
	title Должность
block content
	- var firedWorkers = position.workers.filter((worker)=>{return worker.isFired});
	- var nonFiredWorkers = position.workers.filter((worker)=>{return !worker.isFired});
	.container-fluid
		.row
			.col
				a(href='/department/'+position.department.departmentId) Назад к отделу
				h3= 'Должность '+position.name + (position.abolished?' (упразднена)':'')
		.row
			.col
				b ID: 
				=position.positionId
				br
				b Название: 
				=position.name
				br
				b Отдел: 
					a(href='/department/'+position.department.departmentId)= position.department.name
			.col
				form(method='POST')
					if (position.abolished)
						button.btn.btn-primary(type='submit', formaction='/position/'+position.positionId+'/unabolishe' disabled=(!!position.department.abolished)) Восстановить
						if (!!position.department.abolished)
							br
							| Нельзя восстановить должность, если отдел упразднен
					else
						button.btn.btn-primary(type='submit', formaction='/position/'+position.positionId+'/abolishe' disabled=(!!nonFiredWorkers.length>0)) Упразднить
						if (!!nonFiredWorkers.length>0)
							br
							| Нельзя упразднить должность, на которой есть работники
		.row.mt-4
			.col
				h3 Сотрудники на этой должности
				table.table
					thead
						tr
							th ФИО
							th Дата рождения
							th Пол
							th {pen}
					tbody
						each worker in nonFiredWorkers
							tr
								td=worker['fullName']
								td=worker['birthDay'].toLocaleString('ru-RU', birthDayFormatSettings)
								td=(worker['gender']) ? 'ж' : 'м'
								td
									a(href='/worker/'+worker.workerId)
										img(src='/img/pen.svg' height='16px')
						if firedWorkers.length>0
							tr
								th(colspan=6) Уволенные
							each worker in firedWorkers
								tr
									td=worker['fullName']
									td=worker['birthDay'].toLocaleString('ru-RU', birthDayFormatSettings)
									td=(worker['gender']) ? 'ж' : 'м'
									td
										a(href='/worker/'+worker.workerId)
											img(src='/img/pen.svg' height='16px')