extends ./layout

block title
	title Сотрудники
block content
	- 
		var birthDayFormatSettings = {
			year: 'numeric',
			month: '2-digit',
			day: '2-digit'
		};
	.container-fluid
		.row
			.col-sm-4.mt-3
				h2 Сотрудники
			.col-sm-6.mt-3
				form.form-inline(action='')
					input.form-control(type='text', name='search', value=search)
					span.input-group-btn
						button.btn.btn-primary(type='submit') Поиск
			.col-sm-2.mt-3
				a.btn.btn-primary(href='/worker/new') Новый
		.row
			.col
				table.table
					thead
						tr
							th ФИО
							th Дата рождения
							th Пол
							th Должность
							th Отдел
							th {pen}
					tbody
						- var firedWorkers = workers.filter((worker)=>{return worker.isFired});
						- var nonFiredWorkers = workers.filter((worker)=>{return !worker.isFired});
						each worker in nonFiredWorkers
							tr
								td=worker['fullName']
								td=worker['birthDay'].toLocaleString('ru-RU', birthDayFormatSettings)
								td=(worker['gender']) ? 'ж' : 'м'
								td=worker.position.name
								td=worker.position.department.name
								td
									a(href='/worker/'+worker.workerId)
										img(src='/img/pen.svg' height='16px')
						if firedWorkers.length>0
							tr
								th(colspan=6) Уволенные
							each worker in firedWorkers
								tr
									td=worker['fullName']
									td=worker['birthDay'].toLocaleString('ru-RU', birthDayFormatSettings)
									td=(worker['gender']) ? 'ж' : 'м'
									td=worker.position.name
									td=worker.position.department.name
									td
										a(href='/worker/'+worker.workerId)
											img(src='/img/pen.svg' height='16px')
